@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";


/*** VERSION DESKTOP ***/
.main-about {
    background-color: palegreen;
    width: 100%;
    @include column-center;
    & .section-about {
        background-color: palevioletred;
        @include column-center;
        width: 86%;
    }
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    .section-about {
    width: 90%;
    }
}