@import "_variables.scss";
@import "_mixins.scss";

main {
    width: 90%;
    max-width: 1240px;
    @include column-center;
    & section {
        @include column-center;
        width: 80%;
        max-width: 1024px;
    }
}