@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";


/*** VERSION DESKTOP ***/
main {
    width: 90%;
    max-width: 1240px;
    @include column-center;
    & section {
        @include column-center;
        width: 80%;
        max-width: 1024px;
    }
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    section {
    margin-top: 15px;
    }
}