@import "_variables.scss";
@import "_mixins.scss";


/*** VERSION DESKTOP ***/
.rating {
    height: 50px;
    font-size: $title;
    @include row;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    gap: 5px;
}
& .star-active {
    color: $primary-color;
}
& .star-inactive {
    color: rgb(182, 172, 172); //gris clair
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    .rating {
        height: 50px;
        font-size: $general-mob;
        padding: 5px 0;
        gap: 5px;
        margin-left: 10px;
    }
}