@import "_variables.scss";
@import "_mixins.scss";


/*** VERSION DESKTOP ***/
main {
    width: 90%;
    max-width: 1240px;
    @include column;
    & section {
        width: 100%;
        max-width: 1240px;
        @include column;
        & article {
            @include space-between-row;
            & .infos {
                @include column;
                & h2 {
                    color: $primary-color;
                    font-size: $title;
                    margin: 10px 0;
                }
                & .location {
                    color: $primary-color;
                    font-size: $general;
                    margin-bottom: 15px;
                }
                & .container-tags {
                    @include row;
                }
            }
            & aside {
                max-width: 250px;
                @include column;
                justify-content: space-between;
            }
        }
    }
}


/*** VERSION TABLETTE ***/
@media (min-width: 768px) and (max-width: 1024px) {
    .container-collapse {
        max-width: 824px;
        @include space-between-row;
    }
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    main {
        max-width: 840px;
        & section {
            max-width: 840px;
            & article {
                @include column;
                & .infos {
                    & h2 {
                        font-size: $general-mob;
                        margin: 10px 0;
                    }
                    & .location {
                        font-size: $tertiary-mob;
                        margin-bottom: 10px;
                    }
                }
                & aside {
                    max-width: 840px;
                    @include space-between-row;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }
            }
        }
    }

    .container-collapse {
        max-width: 1240px;
        @include column;
        @include center;
    }
}