@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin space-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
