//Color
$general-color : #FFFFFF;
$bg-color-second : #000000;
$primary-color : #FF6060;
$bg-container : #F6F6F6;

//Font Size Desktop
$general : 18px;
$second : 24px;   // header + footer + collapse
$banner : 48px;
$title : 36px;   //logements + star + txt-error
$tag : 14px;
$error : 288px;

//Font Size Mobile
$general-mob : 18px;
$second-mob : 12px;   //header + footer + name
$tertiary-mob : 14px;
$banner-mob : 24px;
$tag-mob : 10px;
$collapse : 13px;
$error-mob : 96px;

//Others
$round : 25px; //border-radius