* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 500;
  color: #FFFFFF;
}
body .center {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}

header {
  width: 90%;
  max-width: 1240px;
  height: 70px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
}
header .logo-color {
  width: 210px;
  height: 70px;
}
header nav {
  width: 280px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  font-size: 24px;
  color: #FF6060;
  background-color: black;
}
header nav .links {
  text-decoration-line: none;
}
header nav .links:hover {
  cursor: pointer;
}
header nav .links:active {
  color: #FF6060;
  text-decoration: underline;
  text-underline-offset: -35px;
  text-decoration-thickness: 2px;
}
header nav .links:visited {
  color: #FF6060;
}

footer {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
}
footer .logo-white {
  width: 122px;
  height: 40px;
  margin-top: 50px;
}
footer .rights {
  font-size: 24px;
  margin-bottom: 25px;
}

.banner {
  width: 100%;
  max-width: 1240px;
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.banner h1 {
  font-size: 48px;
  position: absolute;
  z-index: 2;
}
.banner .opacity {
  width: 100%;
  max-width: 1240px;
  height: 224px;
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  background-color: #000000;
  opacity: 0.2;
}
.banner img {
  border-radius: 25px;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1240px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*** collapse page About ***/
.main-about {
  width: 90%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*** fin ***/
.container-collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1024px;
}
.container-collapse .collapse {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.container-collapse .collapse .title-collapse {
  height: 55px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  font-size: 24px;
  color: #FFFFFF;
  background-color: #FF6060;
  cursor: pointer;
}
.container-collapse .collapse .title-collapse .arrow-collapse {
  width: 35px;
  height: 20px;
}
.container-collapse .collapse .title-collapse .arrow-collapse .arrow-up {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0);
}
.container-collapse .collapse .title-collapse .arrow-collapse .arrow-down {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-180deg);
}
.container-collapse .collapse .txt-collapse {
  font-size: 18px;
  color: #FF6060;
  background-color: #FEFEFE;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
}
.container-collapse .collapse .txt-collapse .txt-open {
  visibility: visible;
}
.container-collapse .collapse .txt-collapse .txt-close {
  visibility: collapse;
}

.carousel {
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  margin: 25px 0;
  border: solid 2px yellow;
}
.carousel .container-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.carousel .container-arrows .arrow {
  width: 40px;
  height: 60px;
}
.carousel .slide {
  width: 100%;
  height: 100%;
}
.carousel .slide .img-count {
  font-size: 18px;
  justify-content: center;
  align-items: end;
  position: absolute;
  z-index: 1;
}
.carousel .slide .img-slide {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  border-radius: 25px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-housing {
  width: 100%;
  max-width: 1240px;
  border: solid 2px purple;
  display: flex;
  flex-direction: column;
}
.container-housing .main-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 2px lightgreen;
}
.container-housing .main-infos .container-infos {
  display: flex;
  flex-direction: column;
}
.container-housing .main-infos .container-infos .housing-title {
  color: #FF6060;
  font-size: 36px;
  margin: 10px 0;
}
.container-housing .main-infos .container-infos .location {
  color: #FF6060;
  font-size: 18px;
  margin-bottom: 15px;
}
.container-housing .main-infos .container-infos .container-tags {
  display: flex;
  flex-direction: row;
}
.container-housing .main-infos .container-infos .container-tags .tag {
  background-color: #FF6060;
  font-size: 10px;
  border-radius: 25px;
  padding: 8px;
  text-align: center;
}
.container-housing .main-infos .aside-infos {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px orange;
}
.container-housing .main-infos .aside-infos .container-host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  border: solid 2px black;
}
.container-housing .main-infos .aside-infos .container-host .host-name {
  color: #FF6060;
  font-size: 18px;
  justify-content: end;
}
.container-housing .main-infos .aside-infos .container-host .host-photo {
  width: 52px;
  height: 52px;
  border-radius: 50px;
}
.container-housing .main-infos .aside-infos .rating {
  height: 50px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  border: solid 2px red;
  gap: 5px;
}
.container-housing .main-infos .aside-infos .rating .fa-solid {
  color: #FF6060;
}
.container-housing .main-infos .aside-infos .rating .star-inactive {
  color: lightgrey;
}
.container-housing .collapse-housing {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=App.css.map */