@import "_variables.scss";
@import "_mixins.scss";


/////////////////////// APP - check
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
    width: 100%;
    @include column;
    font-family: "Montserrat";
    font-weight: 500;
    //color: $general-color;
    & .center {
        @include column;
        @include center;
        border: solid 2px black;
    }
}

///////////////// HEADER  - check
header {
    width: 90%;
    max-width: 1240px;
    height: 70px;
    margin: 30px 0;
    @include space-between-row;
    background-color: aquamarine;
    & .logo-color {
        width: 210px;
        height: 70px;
    }
    & nav {
        width: 280px;
        height: 30px;
        @include space-between-row;
        align-self: center;
        font-size: $second;
        color: $primary-color;
        background-color: black;
        & .links{
            text-decoration-line: none;
            &:hover {
                cursor: pointer;
            }
            &:active {
                color: $primary-color;
                text-decoration: underline;
                text-underline-offset: -35px;
                text-decoration-thickness: 2px;
                //pas fini
                //text-decoration-line: solid 2px $primary-color;
            }
            &:visited {
                color: $primary-color;
            }
        }
    }
}

/////////////////// FOOTER - prob end
footer {
    width: 100%;
    height: 210px;
    @include column;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-second;
    color: $general-color;
    & .logo-white {
        width: 122px;
        height: 40px;
        margin-top: 50px;
    }
    & .rights {
        font-size: $second;
        margin-bottom: 25px;
    }
}

////////////// PAGE HOME
/////////////////////// BANNER - check
.main-home {
    border: solid 2px green;
    width: 90%;
    max-width: 1240px;
    @include column-center;
    .banner {
        width: 100%;
        max-width: 1240px;
        height: 224px;
        @include center;
        margin-bottom: 50px;
        border: solid 2px red;
        & h1 {
            font-size: $banner;
            position: absolute;
            background-color: bisque;
            z-index: 2;
            }
        & .opacity {
            width: 100%;
            max-width: 1240px;
            height: 224px;
            position: absolute;
            z-index: 1;
            background-color: $bg-color-second;
            opacity: 0.2;
        }
        & img {
            border-radius: 25px;
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 1240px;
            object-fit: cover;
        }
    }
}


/// ////////////////// GALLERY - no show
.gallery {
    max-width: 1240px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px purple;
    & .card {
        border: solid 2px blue;
        width: 30%;
        max-width: 340px;
        height: 340px;
        border-radius: 25px;
        margin: 25px;
        display: flex;
        align-items: end;
        & .title-card {
            font-size: $general;
            background-color: antiquewhite;
            height: 50px;
            width: 22.7%;
            max-width: 340px;
            position: absolute;
            z-index: 1;
            padding: 10px;
        }
        & img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            position: relative;
            object-fit: cover;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

///////////////////// ABOUT
.about {
    border: solid 2px blue;
    @include column-center;
    width: 80%;
    max-width: 1024px;
}

.collapse {
    @include column;
    margin-bottom: 25px;
    & .title-collapse {
        height: 55px;
        border-radius: 5px;
        @include space-between-row;
        align-items: center;
        padding: 10px 20px 10px 15px;
        font-size: $second;
        color: $general-color;
        background-color: $primary-color;
        &:hover {
            cursor: pointer;
        }
        & .arrow-collapse {
            width: 35px;
            height: 20px;
            & .arrow-up {
                transition: transform 0.3s ease-in-out;
                transform: rotate(0);
            }
            & .arrow-down {
                transition: transform 0.3s ease-in-out;
                transform: rotate(-180deg);
            }
        }
    }
    & .txt-collapse {
        font-size: $general;
        color: $primary-color;
        background-color: $bg-container;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;
        transition: max-height 0.5s ease-in;
        & .txt-open {
            margin-top: -10px;
            max-height: 400px;
        }
        & .txt-close {
            max-height: 0;
            margin-top: -10px;
            transition: max-height 0.5s ease-out;
        }
    }
}


///////////////////// LOGEMENTS
.carousel {
    max-width: 1240px;
    height: 415px;
    border-radius: 25px;
    margin: 25px 0;
    border: solid 2px yellow;
    & .container-arrows {
        @include space-between-row;
        align-items: center;
        position: relative;
        z-index: 1;
        & .arrow {
            width: 40px;
            height: 60px;
        }
    }
    & .slide {
        width: 100%;
        height: 100%;
        & .img-count {
            font-size: $general;
            justify-content: center;
            align-items: end;
            position: absolute;
            z-index: 1;
        }
        & .img-slide {
            width: 100%;
            max-width: 1240px;
            height: 100%;
            border-radius: 25px;
            position: relative;
            object-fit: cover;
        }
    }
}

.container-housing {
    width: 100%;
    max-width: 1240px;
    border: solid 2px purple;
    @include column;
    & .main-infos {
        @include space-between-row;
        border: solid 2px lightgreen;
        & .container-infos {
            @include column;
            & .housing-title {
                color: $primary-color;
                font-size: $title;
                margin: 10px 0;
            }
            & .location {
                color: $primary-color;
                font-size: $general;
                margin-bottom: 15px;
            }
            & .container-tags {
                @include row;
                & .tag {
                    background-color: $primary-color;
                    font-size: $tag;
                    border-radius: 25px;
                    padding: 8px;
                    text-align: center;
                }
            }
        }
        & .aside-infos {
            max-width: 250px;
            @include column;
            justify-content: space-between;
            border: solid 2px orange;
            & .container-host {
                @include space-between-row;
                width: 100%;
                gap: 10px;
                border: solid 2px black;
                & .host-name {
                    color: $primary-color;
                    font-size: $general;
                    justify-content: end;
                }
                & .host-photo {
                    width: 52px;
                    height: 52px;
                    border-radius: 50px;
                }
            }
            & .rating {
                height: 50px;
                font-size: $title;
                @include row;
                align-items: center;
                padding: 5px 0;
                border: solid 2px red;
                gap: 5px;
                & .fa-solid {
                    color: $primary-color;
                }
                & .star-inactive {
                    color: lightgrey;
                }
            }
        }
    }
    & .collapse-housing {
        @include row;
    }
}


///////////////////// ERROR - prob subline link
