@import "_variables.scss";


.banner {
    width: 80%;
    height: 224px;
    border-radius: 25px;
    margin-bottom: 50px;
    & .home {
        background: url(../assets/paysage_banner_home.png);
        & h2 {
            font-size: $banner;
            text-align: center;
            vertical-align: middle;
        }
    }
    & .about {
        background: url(../assets/paysage_banner_about.png);
    }
}
