@import "_variables.scss";
@import "_mixins.scss";


.main-logement {
    width: 90%;
    max-width: 1240px;
    @include column;
    & .carousel {
        @include column;
        max-width: 1240px;
        height: 415px;
        border-radius: $round;
        border: solid 2px yellow;
        & .container-arrows {
            border: solid 2px black;
            width: 84.5%;
            max-width: 1220px;
            padding: 0 10px;
            @include space-between-row;
            position: absolute;
            top: 300px;
            z-index: 1;
            & .arrow {
                width: 40px;
                height: 60px;
            }
        }
        & .slide {
            width: 100%;
            height: 100%;
            & .img-count {
                border: solid 2px blue;
                font-size: $general;
                text-align: center;
                align-self: end;
                position: relative;
                bottom: 30px;
                z-index: 1;
            }
            & .img-slide {
                width: 100%;
                max-width: 1240px;
                height: 100%;
                border-radius: $round;
                position: relative;
                object-fit: cover;
            }
        }
    }
    & .container-housing {
        width: 100%;
        max-width: 1240px;
        border: solid 2px purple;
        @include column;
        & .main-infos {
            @include space-between-row;
            border: solid 2px lightgreen;
            & .container-infos {
                @include column;
                & .housing-title {
                    color: $primary-color;
                    font-size: $title;
                    margin: 10px 0;
                }
                & .location {
                    color: $primary-color;
                    font-size: $general;
                    margin-bottom: 15px;
                }
                & .container-tags {
                    @include row;
                    & .tag {
                        background-color: $primary-color;
                        font-size: $tag;
                        border-radius: 25px;
                        padding: 8px;
                        text-align: center;
                        padding: 5px 15px;
                        margin: 0 5px 10px 5px;
                    }
                }
            }
            & .aside-infos {
                max-width: 250px;
                @include column;
                justify-content: space-between;
                border: solid 2px orange;
                & .container-host {
                    @include space-between-row;
                    width: 100%;
                    gap: 10px;
                    border: solid 2px black;
                    & .host-name {
                        border: solid 2px blue;
                        width: 180px;
                        color: $primary-color;
                        font-size: $general;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }
                    & .host-photo {
                        width: 52px;
                        height: 52px;
                        border-radius: 50px;
                        margin-right: 5px;
                        object-fit: cover;
                    }
                }
                & .rating {
                    height: 50px;
                    font-size: $title;
                    @include row;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 0;
                    border: solid 2px red;
                    gap: 5px;
                }
                & .star-active {
                    color: $primary-color;
                }
                & .star-inactive {
                    color: rgb(182, 172, 172); //gris clair
                }
            }
        }
        & .collapse-housing {
            @include space-between-row;
            & .mini-collapse {
                width: 30%;
            }
        }
    }
}