.main-logement {
  width: 90%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}
.main-logement .carousel {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  border: solid 2px yellow;
}
.main-logement .carousel .container-arrows {
  border: solid 2px black;
  width: 84.5%;
  max-width: 1220px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 300px;
  z-index: 1;
}
.main-logement .carousel .container-arrows .arrow {
  width: 40px;
  height: 60px;
}
.main-logement .carousel .slide {
  width: 100%;
  height: 100%;
}
.main-logement .carousel .slide .img-count {
  border: solid 2px blue;
  font-size: 18px;
  text-align: center;
  align-self: end;
  position: relative;
  bottom: 30px;
  z-index: 1;
}
.main-logement .carousel .slide .img-slide {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  border-radius: 25px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-logement .container-housing {
  width: 100%;
  max-width: 1240px;
  border: solid 2px purple;
  display: flex;
  flex-direction: column;
}
.main-logement .container-housing .main-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 2px lightgreen;
}
.main-logement .container-housing .main-infos .container-infos {
  display: flex;
  flex-direction: column;
}
.main-logement .container-housing .main-infos .container-infos .housing-title {
  color: #FF6060;
  font-size: 36px;
  margin: 10px 0;
}
.main-logement .container-housing .main-infos .container-infos .location {
  color: #FF6060;
  font-size: 18px;
  margin-bottom: 15px;
}
.main-logement .container-housing .main-infos .container-infos .container-tags {
  display: flex;
  flex-direction: row;
}
.main-logement .container-housing .main-infos .container-infos .container-tags .tag {
  background-color: #FF6060;
  font-size: 10px;
  border-radius: 25px;
  padding: 8px;
  text-align: center;
  padding: 5px 15px;
  margin: 0 5px 10px 5px;
}
.main-logement .container-housing .main-infos .aside-infos {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px orange;
}
.main-logement .container-housing .main-infos .aside-infos .container-host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  border: solid 2px black;
}
.main-logement .container-housing .main-infos .aside-infos .container-host .host-name {
  border: solid 2px blue;
  width: 180px;
  color: #FF6060;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.main-logement .container-housing .main-infos .aside-infos .container-host .host-photo {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-logement .container-housing .main-infos .aside-infos .rating {
  height: 50px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border: solid 2px red;
  gap: 5px;
}
.main-logement .container-housing .main-infos .aside-infos .star-active {
  color: #FF6060;
}
.main-logement .container-housing .main-infos .aside-infos .star-inactive {
  color: rgb(182, 172, 172);
}
.main-logement .container-housing .collapse-housing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-logement .container-housing .collapse-housing .mini-collapse {
  width: 30%;
}/*# sourceMappingURL=Logement.css.map */