@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";


/*** VERSION DESKTOP ***/
.article-host {
    @include row;
    gap: 10px;
    margin-top: 10px;
    justify-content: end;
    & .txt-host {
        width: 85px;
        color: $primary-color;
        font-size: $general;
        display: flex;
        align-items: center;
        text-align: right;
        margin-right: 5px;
    }
    & .img-host {
        width: 52px;
        height: 52px;
        border-radius: 50px;
        margin-right: 5px;
        object-fit: cover;
    }
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    .article-host {
        margin-top: 5px;
        margin-bottom: 10px;
        & .txt-host {
            font-size: $tertiary-mob;
        }
        & .img-host {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
}