@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";


/*** VERSION DESKTOP ***/
.article-collapse {
    width: 90%;
    height: auto;
    max-width: 1024px;
    @include column;
    margin-bottom: 50px;
    & .title-collapse {
        height: 40px;
        border-radius: 5px;
        @include space-between-row;
        align-items: center;
        padding: 10px 20px 10px 15px;
        font-size: $second;
        color: $general-color;
        background-color: $primary-color;
        cursor: pointer;
        & .arrow {
            width: 35px;
            height: 20px;
        }
    }
    & .txt-collapse {
        width: 96%;
        font-size: $general;
        color: $primary-color;
        background-color: $bg-container;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;
        @include column;
    }
}

.arrow-up {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0);
}

.arrow-down {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
}

.txt-open {
    visibility: visible;
    transform: scaleY(100%);
    transition: transform 0.3s ease-in-out;
}

.txt-close {
    visibility: collapse;
    transform: scaleY(0%);
    transition: transform 0.3s ease-in-out;
}


/*** VERSION TABLETTE ***/
@media (min-width: 768px) and (max-width: 1024px) {
    .article-collapse {
        width: 40%;
        max-width: 340px;
    }
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    .article-collapse {
        width: 100%;
        @include column;
        margin-bottom: 30px;
        & .title-collapse {
            height: 20px;
            font-size: $collapse;
            & .arrow {
                width: 20px;
                height: 10px;
            }
        }
        & .txt-collapse {
            font-size: $collapse;
            padding: 10px;
        }
    }
}