@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";


/*** VERSION DESKTOP ***/
footer {
    width: 100%;
    height: 210px;
    @include column;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-second;
    color: $general-color;
    & .logo-white {
        width: 122px;
        height: 40px;
        margin-top: 50px;
    }
    & .rights {
        font-size: $second;
        margin-bottom: 25px;
    }
}


/*** VERSION MOBILE ***/
@media (min-width: 320px) and (max-width: 767px) {
    footer {
        width: 100%;
        height: 210px;
        background-color: $bg-color-second;
        color: $general-color;
        & .logo-white {
            margin-top: 70px;
        }
        & .rights {
            width: 122px;
            font-size: $second-mob;
            text-align: center;
            margin-bottom: 55px;
        }
    }
}