@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.main-error {
    width: 90%;
    max-width: 1240px;
    @include column-center;
    color: $primary-color;
    & .span-error {
        font-size: $error;
        margin: 35px 0;
    }
    & .txt-error {
        font-size: $title;
        margin: 35px 0 50px 0;
    }
    & .redirection {
        font-size: $general;
        margin-bottom: 50px;
        &:visited {
            color: $primary-color;
        }
    }
}


////////// VERSION MOBIL //////////
@media (min-width: 320px) and (max-width: 767px) {
    .main-error {
        max-width: 840px;
        & .span-error {
            font-size: $error-mob;
            margin: 10px 0;
        }
        & .txt-error {
            font-size: $general-mob;
            text-align: center;
            margin: 15px 25px ;
        }
        & .redirection {
            font-size: $tertiary-mob;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
    
        }
    }
}